Jinja2
MarkupSafe
Shapely
backports.ssl-match-hostname
certifi
configparser
gnureadline
ipython
matplotlib
mock
nose
numpy
opencv-python
pandas
pyparsing
pyproj
pyshp
python-dateutil
pytz
pyzmq
scikit-learn
scipy
six
tornado
wheel
